{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Прогноз погоды на следующие 14 дней</h2>
{% for day in forecast_weather_data %}
<h3>
    {{ day["date"] }}
</h3>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="600px" bgcolor="#dddddd">Температура</td>
            <td class="title" width="200px" bgcolor="#dddddd">Скорость ветра</td>
        </tr>
        <tr class="my_row">
            <td class="ordinary" bgcolor="#eeeeff">Максимальная: {{ day["day"]["maxtemp_c"] }} °C |
                Минимальная: {{ day["day"]["mintemp_c"] }} °C |
                Средняя: {{ day["day"]["avgtemp_c"] }} °C |
            </td>
            <td class="ordinary" bgcolor="#eeeeff">{{ day["day"]["maxwind_kph"] }} км/ч</td>
        </tr>

    </table>
</div>
<br>
{% endfor %}

{% endblock %}